* {
	margin: 0;
	padding: 0;
	list-style: none;
}

.clearboth {
	clear: both;
}

a {
	cursor: pointer;
}

.banner {
	width: 100%;
	position: relative;
	left: 0;
	top: 0;
}

.banner-video {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	z-index: 2;
	left: 0;
	top: 0;
}

video {
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -9999;
	/*灰色调*/
	/*-webkit-filter:grayscale(100%)*/
}

.banner-content {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 3;
}

.banner-header {
	line-height: 50px;
	color: white;
	padding: 10px 0;
	width: 100%;
	left: 0;
}

.banner-header.banner-header-scroll {
	background-color: white;
	position: absolute;
}

.banner-header.banner-header-scroll .banner-header-nav li.active a {
	color: red;
}

.banner-header.banner-header-scroll .banner-header-suspension{
	background-color: #FF0000;
}

.banner-header.banner-header-scroll .banner-header-logo p{
	color: #8c8c8c;
	font-size: 26px;
}

.banner-header-container {
	width: 1000px;
	margin: 0 auto;
}

.banner-header-logo {
	font-size: 30px;
	line-height: 50px;
}

.banner-header-logo img {
	width: 55px;
	height: 55px;
	float: left;
}

.banner-header-logo p {
	float: left;
	margin-left: 10px;
}

.banner-header-nav {
	float: right;
}

.banner-header-nav li {
	float: left;
	padding: 0 20px;
	font-size: 18px;
}

.banner-header-nav li a {
	color: #b3b3b3;
}

.banner-header-nav li.active a {
	color: white;
}

.banner-header-suspension {
	width: 40px;
	height: 2px;
	background-color: white;
	border-radius: 25px;
	position: absolute;
	top: 50px;
	transition: all .3s ease;
}

.banner-title {
	color: white;
	text-align: center;
	position: absolute;
	width: 100%;
	top: 30%;
}

.banner-title h2 {
	font-size: 68px;
}

.banner-title h3 {
	font-size: 35px;
	margin-top: 10px;
	font-weight: normal;
}
